@import '../../../../variables'

.productslider
  position: relative
  display: flex
  align-items: center
  justify-content: center
  width: 70%
  background: $img-bg

.primarySlider
  width: 64%
  .productslider_arrow
    &-prev, &-next
      position: absolute
      z-index: 10
      padding: 0
      color: $primary-black

  .slick-list
    max-height: 640px
    .slick-slide
      display: flex
      justify-content: center
      *
        max-height: 640px
        max-width: 640px

  .productslider_arrow
    &-prev, &-next
      top: 50%
      transform: translateY(-50%)
      svg
        font-size: 3rem
    &-prev
      left: 0
    &-next
      right: 0

.secondarySlider
  position: absolute
  left: 40px
  max-height: 350px
  max-width: 60px

  .slick-slide
    transition: .4s
  .slick-current
    transform: scale(.5)
  .productslider_arrow
    &-prev, &-next
      padding: 0
      background: rgba($primary-black, .2)
      transform: translateX(-50%)
      left: 50%
    &-prev
      top: 0
    &-next
      bottom: 0

@media (min-width: 1600px)
  .productslider
    .slick-list
      max-height: 840px !important
    .slick-slide
      *
        max-height: 840px !important
        max-width: 840px !important


@media (max-width: 959.5px)
  .productslider
    flex-direction: column-reverse
    width: 100%
  .primarySlider
    width: 100%
    .slick-list
      max-height: 640px
      .slick-slide
        display: flex
        justify-content: center
        *
          max-height: 640px
          max-width: 640px
  .secondarySlider
    position: static
    display: flex
    width: 100%
    max-width: 400px
    max-height: 60px
    height: 60px
    .slick-list
      .slick-slide
        display: flex
        justify-content: center
        *
          max-height: 60px
          max-width: 60px

    .productslider_arrow
      &-prev, &-next
        display: none