body {
  margin: 0;
  font-family: -apple-system, "Roboto", "Helvetica", "Arial", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none
}


.snackbar-error {
  /* background: #fff !important; */
  /* background: #f05 !important; */
}

.snackbar-success {
  /* background: #fff !important; */
  /* background: #0c0 !important; */
  /* background: #43a047 !important; */
}