@import '../../../variables'

.delChild
  padding-top: 20px
  &-content
    text-transform: capitalize
  &-title
    font-weight: 700 !important

.shipping
  margin-bottom: 24px
  &-title
    padding: 16px
    border-bottom: 1px solid $light-gray
  form
    padding: 20px
    display: flex
    flex-direction: column

  &-preview
    display: flex
    justify-content: space-between
    .prev
      align-self: flex-start
      margin: 10px
      padding: 10px
      cursor: pointer
      text-decoration: underline

  .shippingNote
    display: flex
    align-items: center
    margin-top: 10px
    svg
      margin-right: 5px