@import '../../../variables'

.delChild
  padding-top: 20px
  &-content
    color: $secondary-black-light
    text-transform: capitalize
  &-title
    font-weight: 700 !important

.shipping
  margin-bottom: 20px
  border: 1px solid $light-gray
  &-title
    padding: 15px
    box-sizing: border-box
    font-size: 20px
    font-weight: 600
    color: $primary-black
    background: $light-gray

  form
    padding: 20px
    display: flex
    flex-direction: column

    & .submit
      align-self: flex-end
      margin-top: 20px
      padding: 15px 20px
      color: #fff

  &-preview
    display: flex
    justify-content: space-between
    .prev
      align-self: flex-start
      margin: 10px
      padding: 10px
      cursor: pointer
      text-decoration: underline

  .shippingNote
    display: flex
    align-items: center
    margin-top: 10px
    svg
      margin-right: 5px