@import '../../../../variables'

.DesktopSearchBox
  position: relative
  display: flex
  max-width: 270px
  border-radius: 25px
  background: $light-gray

  .suggestions-wrap
    position: fixed
    top: 64px
    overflow-y: scroll
    max-height: 350px
    width: 100%
    border-radius: 0 15px 0 15px

    .suggestions
      background: $white
      border-top: 1px solid $light-gray
      padding: 10px 20px

      &-item
        display: flex
        align-items: flex-start
        padding: 10px
        cursor: pointer
        color: $secondary-black
        text-transform: capitalize
        border-bottom: 1px solid $light-gray
        transition: .2s
        &:hover
          opacity: .4
        &:last-child
          border: none !important
        img
          margin-right: 20px
          height: 80px
        > div > div:first-child
          color: $primary-black