@import '../../../../variables'

.DesktopSearchBox
  position: relative
  display: flex
  max-width: 270px
  border-radius: 25px
  background: $light-gray

  .suggestions-wrap
    position: fixed
    top: 64px
    box-sizing: border-box
    right: 0
    overflow-y: scroll
    max-height: 60%
    width: 50%
    border-radius: 0 0 0 10px
    border-top: 1px solid $light-gray
    &::-webkit-scrollbar
      width: 0