.SingUpIn {
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.SingUpIn-container {
  padding: 40px 20px;
  -webkit-box-shadow: 0 0 15px #e5e5e5, 0 0 15px #999a;
          box-shadow: 0 0 15px #e5e5e5, 0 0 15px #999a;
  width: 100%;
  max-width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SingUpIn-container .oauth-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px 0;
}

.SingUpIn form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.SingUpIn form .submit {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
  padding: 10px;
  margin-top: 30px;
  color: #fff !important;
}

.SingUpIn .input {
  margin-top: 10px;
}

.SingUpIn-route {
  color: #999;
}

.SingUpIn-route span {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  color: #444;
  cursor: pointer;
}

.SingUpIn-route span::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: #444;
}

.SingUpIn-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  margin: 1em -1em;
  margin-bottom: 0;
  color: #999;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.SingUpIn-divider:before, .SingUpIn-divider:after {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 1px;
  margin: 0 1em;
  background: #777;
}

.SingUpIn-via {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 47px;
  max-width: 140px;
  padding: 0;
  padding-right: 20px;
  color: #fff;
  border-radius: 0 15px 15px 15px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  -webkit-transition: .4s;
  transition: .4s;
}

.SingUpIn-via .icon, .SingUpIn-via > i, .SingUpIn-via > div {
  margin-right: 10px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 0 15px 0 15px !important;
  font-size: 24px;
}

.SingUpIn-via > div {
  background: rgba(255, 255, 255, 0.7) !important;
}

.SingUpIn-via > div ~ span {
  padding-right: 20px !important;
}

.SingUpIn-via:hover {
  opacity: .6 !important;
  border-radius: 0 15px 0 15px !important;
}

.SingUpIn-via.f {
  background: #0d47a1;
  margin-right: 20px;
}

.SingUpIn-via.g {
  background: #eeeeee !important;
  border: none !important;
}

@media (max-width: 599.5px) {
  .SingUpIn {
    padding: 0;
  }
  .SingUpIn-container {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
/*# sourceMappingURL=SingUpIn.css.map */