.orderPage
  &-title
    font-size: 22px !important
    margin: 20px 0 !important
  &-block
    padding: 12px
    max-width: 800px
    margin: auto
    margin-bottom: 40px
  &-total
    display: flex
    // justify-content: space-between
    padding: 8px
    > span
      margin-left: 12px
      color: #f05
  &-date

@media (max-width: 959.5px)
 .orderPage
    &-block
      padding: 6px
    &-total
      // padding: 8px
