@import '../../../../variables'

@mixin button($bg, $color)
  background: $bg
  color: $color

.profileBillingAddress
  &.toAdd
    display: flex
  &-header
    position: relative
    margin-bottom: 20px
    padding: 15px
    box-sizing: border-box
    color: $primary-black
    width: 100%

  &-preview
    display: flex
    justify-content: space-between
    align-items: flex-end
    *
      font-size: 1rem !important

    .expandForm
      @include button($white, $primary-black)
      margin-right: 20px

  form
    .formBtns
        margin-top: 40px
        display: flex
        justify-content: flex-end
        button:first-child
          @include button($white, $primary-black)
          margin-right: 5px


@media (max-width: 599.5px)
  .profileBillingAddress
    &-preview
      flex-direction: column
      justify-content: center
      align-items: flex-start

    .expandForm
      margin-left: 20px