$primary-color: #444
$secondary-color: #777
$secondary-light: #999
$light-color: #e5e5e5

@mixin footerH4
  color: #fff
  margin: 20px 0
  font-weight: 700
  font-size: 16px

.Footer
  width: 100%
  margin-top: 80px
  background: #444
  font-size: 14px

  &-main
    display: flex
    justify-content: space-between
    padding: 40px
    padding-top: 20px
    color: rgba(229, 229, 229, .5)

    &-contacts,
    &-social
      > div:first-child
        @include footerH4

    &-social
      &-icon
        margin-right: 10px
        padding: 10px
        color: #444
        background: rgba(229, 229, 229, .5)
        border-radius: 50%
        font-size: 16px
        cursor: pointer
        &:hover
          background: #fff
    &-rights
      border-top: 1px solid rgba(229, 229, 229, .2)
      padding: 20px
      color: rgba(229, 229, 229, .5)
      font-size: 12px
      text-align: center


@media (max-width: 959.5px)
  .Footer
    &-main
       &-rights
        &.cart-mode
          padding-bottom: 80px

@media (max-width: 599.5px)
  .Footer

    &-main
      padding: 20px
      padding-top: 40px
      flex-direction: column
      &-contacts
        margin-bottom: 40px