@import '../../variables'

.Footer
  margin-top: 80px
  background: $primary-black

  &-main
    display: flex
    justify-content: space-between
    padding: 40px
    color: rgba($white, .45)

    &-contacts, &-social
      h4
        color: $white

    &-rights
      display: block
      padding: 20px 0
      color: rgba($white, .45)
      border-top: 1px solid rgba($light-gray, .2)

@media (max-width: 959.5px)
  .cart-mode
    padding-bottom: 80px

@media (max-width: 599.5px)
  .Footer
    &-main
      padding: 40px 20px
      flex-direction: column
      &-contacts
        margin-bottom: 40px