@import '../../../variables'

.productPage
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  margin: auto
  padding: 60px 0px
  box-sizing: border-box
  &-title
    display: flex
    justify-content: space-between
    width: 100%
    box-sizing: border-box
    text-transform: capitalize
    span
      font-weight: 600
    &.desktop
      display: none
      margin-bottom: 20px

  .productDescription
    position: relative
    top: 0
    bottom: 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin-top: 150px

.productPage-content
  display: flex
  justify-content: center
  width: 100%
  box-sizing: border-box

  &-main
    display: flex
    flex-direction: column
    justify-content: space-between
    box-sizing: border-box
    width: 100%
    max-width: 360px
    min-width: 200px
    margin-left: 40px
    padding: 0
    padding-right: 20px
    color: $primary-black

    .addToCart
      padding: 20px
      color: $white
      background: $primary-black
      border-radius: 50px
      &:hover
        background: $black

    &-colors
      width: 100%
      .avColors
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        margin: 20px 0
        img
          width: 60px
          min-width: 60px
          height: 60px
          min-height: 60px
          margin: 2px
          border-radius: 5px
          cursor: pointer

    &-sizes
      width: 100%
      margin: 20px 0
      .avSizes
        display: grid
        grid-gap: 4px
        grid-template-columns: repeat(4, 1fr)
        width: 100%
        &.onesize
          grid-template-columns: 1fr !important
        &-size
          min-width: 30px
          border: 1px solid $light-gray
          padding: 10px
          border-radius: 5px
          text-align: center
          cursor: pointer
          &.active
            background: $primary-black
            color: $white
            border-color: $primary-black
          &:not(.active):hover
            border-color: $secondary-black

.scrolled
  transform: translateY(0) !important
  opacity: 1 !important
.productDescription-desktop
  position: relative
  display: flex
  justify-content: space-between
  align-items: center
  height: 400px
  width: 900px
  margin-top: 50px
  padding: 50px 0
  transition: .4s

  &-title
    position: absolute
    top: 100px
    right: 20px
    z-index: 5
    letter-spacing: 4px !important

  &-body
    max-width: 450px

.productDescription-photo
  position: relative
  height: 400px
  width: 400px
  z-index: 1
  &:hover
    .productDescription-partical
    .productDescription-partical.p1,
    .productDescription-partical.p2,
    .productDescription-partical.p3,
    .productDescription-partical.p4
      top: 0
      height: 400px
      box-shadow: none
      &.p1
        background-position: 0 0
      &.p2
        background-position: -70px 0
      &.p3
        background-position: -150px 0
      &.p4
        background-position: -200px 0

.productDescription-partical
  position: absolute
  background-size: 400px
  box-shadow: 0 0 15px rgba($primary-black,.2)
  transition: .4s
.productDescription-partical.p1
  height: 200px
  width: 120px
  top: 100px
  background-position: 0px -100px
  z-index: 2
  transition: .1s
.productDescription-partical.p2
  height: 330px
  width: 200px
  top: 50px
  left: 70px
  background-position: -70px -50px
  transition: .3s
.productDescription-partical.p3
  height: 400px
  width: 180px
  top: 0px
  left: 150px
  background-position: -150px 0px
  z-index: 3
.productDescription-partical.p4
  top: 50px
  left: 200px
  height: 300px
  width: 200px
  background-position: -200px -50px


@media (max-width: 959.5px)
  .productPage
    padding: 20px 0
    &-title
      &.desktop
        display: flex
        padding: 0 24px
      &.mobile
        display: none
    .productDescription
      margin: 0
      padding: 24px
      &-desktop
        display: none

  .productPage-content
    flex-direction: column
    justify-content: flex-start
    align-items: center


    &-main
      max-width: 100%
      width: 100%
      padding: 24px
      margin-left: 0
      box-sizing: border-box

      &-colors
        .avColors
          margin: 0
          flex-wrap: nowrap
          overflow-x: scroll
          &::-webkit-scrollbar
            height: 0

@media (max-width: 599.5px)
  .productPage
    &-title.desktop
      padding: 0 10px