@import '../../variables'

.toaster
  cursor: default !important
  &.error
    background: $white
    color: $primary-red

  &.success
    background: $white
    color: $primary-green
    text-align: center

  &-content
    display: flex
    align-items: center
    > div
      width: 100%
      padding: 8px