@import '../../variables'

.toaster
  cursor: default !important
  text-align: left
  &.error
    background: $white !important
    color: $primary-red !important

  &.success
    background: $white !important
    color: $primary-green !important
    text-align: center

  &-content
    display: flex
    justify-content: space-between
    align-items: center
    > div
      width: 100%
      padding: 10px