.Header
  .toolbar
    display: flex
    justify-content: space-between

  .leftSide
    display: flex
    align-self: stretch
    .logoButton
      display: flex
      align-items: center
      align-self: stretch
      cursor: pointers
      margin-right: 20px
      padding: 10px
      .logo
        height: 46px

    .desktopMenu
      display: flex
      justify-content: center
      align-self: stretch

  .rightSide
    display: flex
    color: #444


@media (max-width: 599.5px)
  .Header
    .leftSide
      .logoButton
        .logo
          height: 40px
    .MuiToolbar-gutters
      padding: 0 5px

@media (max-width: 959.5px)
  .Header
    .leftSide
      .desktopMenu
        display: none