.DesktopAccount
  border-radius: 25px !important
  padding: 0 10px !important
  margin: 0 5px !important
  &-text
    margin-left: 8px !important
    margin-right: 6px !important
  &-menu
    & .MuiMenu-paper
      width: 150px
      border: 1px solid
      border-color: #e5e5e5

@media (max-width: 959.5px)
  .DesktopAccount
    display: none !important
  .DesktopAccount-menu
    display: none !important