$primary-color: #444
$secondary-color: #777
$light-color: #e5e5e5

@mixin productPseudo ($vertical)
  content: ''
  position: absolute
  bottom: $vertical
  left: 50%
  transform: translateX(-50%)
  width: 90%
  height: 1px
  background: $light-color

@mixin title
  color: $primary-color
  font-weight: 700
  font-size: 16px

.ProductToBuy
  position: relative
  display: flex
  padding: 8px
  font-size: 14px
  justify-content: space-between

  &:not(:last-child)::before
    @include productPseudo(0)

  &-content
    display: flex
    width: 100%

    &-img
      align-self: center
      img
        display: block
        height: 120px

    &-data
      // display: flex
      // flex-direction: column
      // justify-content: space-between
      // justify-content: center
      align-self: center
      flex: 100%
      color: #999
      margin-left: 8px
      text-transform: capitalize

      .sizeSelect,
      .quantitySelect
        display: flex
        align-items: center

      & > :first-child
        @include title

      & a
        @include title
        // text-decoration: underline
      > div
        box-sizing: border-box
        margin-bottom: 2px
        *
          color: #999

  &-controls
    font-weight: 500
    color: $primary-color
    display: flex
    text-align: right
    flex-direction: column
    justify-content: space-between
    > div
      &:last-child
        // color: #999
      // margin-bottom: 12px


@media (max-width: 599.5px)
  .ProductToBuy
    padding: 10px 20px
    img
      height: 100px

    &-controls
      right: 20px
      div:first-child
        svg
          font-size: 1.2rem !important
      div:last-child
        display: none
        // margin-bottom: 6px


.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation8.MuiPopover-paper.MuiPaper-rounded
  &::-webkit-scrollbar
    width: 0px !important