@import '../../../../variables'

.MobileSearchBox
  &-main
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between

  &.fixed
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 1100
    width: 100vw
    height: 100vh
    padding: 15px
    padding-bottom: 100px
    background: $white
    box-sizing: border-box
    overflow: hidden
    overflow-y: scroll

  .suggestions
    width: 100%
    padding: 10px 20px
    box-sizing: border-box
    &-item
      display: flex
      align-items: flex-start
      padding: 10px
      color: $primary-black
      border-bottom: 1px solid $light-gray
      text-transform: capitalize
      transition: .2s
      cursor: pointer
      &:hover
        opacity: .4
      img
        height: 70px
        margin-right: 20px
      > div > div
        color: $secondary-black